<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.UserDao">
	<insert id="insert" parameterType="UserDto">  <!-- com.company.dto.UserDto -->
		insert into userinfo (name, age) values (#{name}, #{age})
	</insert>
	
	<update id="update" parameterType="UserDto">
		update userinfo set name=#{name}, age=#{age} where no=#{no}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from userinfo where no=#{no}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="UserDto">
		select * from userinfo where no=#{no}
	</select>
	
	<select id="selectAll" resultType="UserDto">
		select * from userinfo
	</select>
</mapper>
<!-- 
insert : insert into userinfo (name, age) values (?, ?);
select : select * from userinfo where no=?;
		 select * from userinfo;
update : update userinfo set name=? and age=? where no=?;
delete : delete from userinfo where no=?;
-->