/Apple.class
/Cat.class
/FinalEx.class
/MemberVarEx001.class
/Milk.class
/Sawon3.class
/Score.class
/Score2.class
/Score2Print.class
/Score2Process.class
/SelfTest001.class
/SelfTest002.class
/SelfTest003.class
/SelfTest004.class
/SelfTest005.class
/SelfTest006.class
/SelfTest007.class
/SelfTest008.class
/SelfTest009.class
/SelfTest010.class
/SelfTest011.class
/SelfTest012.class
/SelfTest013.class
/SelfTest014.class
/SelfTest015.class
/SelfTest016.class
/SelfTest017.class
/SelfTest018.class
/SelfTest019.class
/SelfTest020.class
/SelfTest021.class
/SelfTest022.class
/User002.class
